[submodule "FlexPlanner-via"]
	path = FlexPlanner-via
	url = git@github.com:tomqingo/FlexPlanner-via.git
[submodule "tools/OpenROAD"]
	path = tools/OpenROAD
	url = git@github.com:tomqingo/OpenROAD.git
	branch = alpha
[submodule "tools/yosys"]
	path = tools/yosys
	url = git@github.com:The-OpenROAD-Project/yosys.git
	branch = yosys-0.44
