[submodule "FlexPlanner-via"]
	path = FlexPlanner-via
	url = git@github.com:tomqingo/FlexPlanner-via.git
[submodule "tools/OpenROAD"]
	path = tools/OpenROAD
	url = git@github.com:tomqingo/OpenROAD.git
	branch = alpha
